/*
 * 画面全体に関する設定
 */
 @media screen and (min-width:480px){
      body {
    font: 14px "Lucida Grande", Meiryo, Helvetica, Arial, sans-serif;
    background: #e9e9e9;
    color: #5e5e5e;
}
h1{
    text-align: center;
    margin:0 auto;
    font-size:35px;
    color:#000000;
    font-family: 'Playfair Display', serif;
}
a {
    color: #00B7FF;
}
.mylogin{
    margin-top:200px;
}

.navbar-brand{
    display: inline-block;
}
div {
   
}

.row {
    margin-top: 40px;
    height:120px;
    margin-bottom:0;
}
.container{
    width:400px;
    height:auto;
    border:solid;
    border-radius: 8px;
    padding:0;
    border-color: cornflowerblue;
    background-color: ghostwhite;
}

.col-lg-3{
    margin:0;
    padding:0;
}


/*
 * トップ画面（index.hbs）に関する設定
 */
.index-user_name {
    
}

.index-user_name_text {
    margin-left: 20px;
    margin-right: auto;
    width: 325px;
    margin-bottom:20px;
    
}

.index-enter {
    margin-left: 20px;
    margin-right: auto;
    width: 325px
}

.index-enter_button {
    
}
.box{
    margin-bottom:30px;
    margin-top:0;
}
/*
 * チャットルーム画面（room.hbs）に関する設定
 */
.navbar-brand{
    font-size:50px;
    color:#729aaa;
    font-family: 'Playfair Display', serif;
}
.navbar-text{
    font-size:20px;
    font:meiryo;
}
.room-container{
    display:flex;
    margin-top:0;
    min-height:100vh;
}
 .room-row{
     margin-left: 30px;
     margin-right:30px;
     margin-top:40px;
     width:500px;
 }

#sent_message{
    display: flex;
    white-space: pre-wrap;
    margin:0 auto;
}


.room-login_user {

 }

.room-message {

}

.room-message_textarea {
    width: 100%;
}


/*-------ボタンの設定------*/
.room-submit {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
 .common-button {
    margin:3px 0px;
}
.room-publish_button {
    /* float:right;
    width: 500px;
    margin-top:5px;
    margin-bottom:5px; */
}
.room-publish_button + *{
    /* clear: both; */
    flex-wrap: wrap;
}

.room-memo_button {
    /* float:right;
    width: 500px;
    width: 100%; */
    background-color: darkgrey;
}
.additional_button{
    /* float:left;
    margin-top:10px; */
}

.room-exit {
    display: flex;
    justify-content: center;
}

.room-exit_button {
    /* margin-top:10px;
    float: left; */
}

.room-reverse_order_button{
    /* width:100px;
    float:right;
    margin-top:10px; */
}

.all_users{
    margin-top: 10px; 
    background-color: #9fc1e7;
}
#users_name{
    display: flex;
}
.activeusername{
    cursor: pointer;
    margin:3px 5px;
    color: #000000;
    font-size: large;
}
.activeusername:hover{
    color: #5e5e5e;
    font-weight: bold;
}

.room-thread {
    height:auto;
    width: 100%;
    background-color:white;
    
}


.myUser{

        position: relative;
        padding: 20px;
        border-radius: 10px;
        color: #000000;
        background-color: #62b3e9;
        margin-left: 20px;   
        margin-top:10px;
        display:table;
        

}
.myUser::before{
    content: '';
    position: absolute;
    margin-right:100%;
    width: 0;
    height: 0;
    left: -15px;
    top: 20px;
    border-right: 15px solid #62b3e9;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    clear: both;
    
  }
.otherUser{
  
        position: relative;
        padding: 20px;
        border-radius: 10px;
        color: black;
        background-color: #CCCCCC;
        margin-right: 20px; 
        display:table;      
        margin-left: auto;
        margin-top:10px;

}
.otherUser::before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    right: -15px;
    top: 20px;
    border-left: 15px solid #CCCCCC;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
}
.memo{
    position: relative;
    padding: 20px;
    border-radius: 10px;
    color: #000000;
    background-color: #b6d1eb;
    margin-left: 20px;   
    margin-top:10px;
    display:table;
}
.enter_message{
    position: relative;
    padding: 20px;
    border-radius: 10px;
    color: black;
    background-color: #51e075;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px; 
    display:table;      
    
}
.exit_message{
    position: relative;
    padding: 20px;
    border-radius: 10px;
    color: black;
    background-color: #51e075;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px; 
    display:table;
}
 
 }
/*---------------------------------------スマホ向けCCS---------------------------------------*/
@media screen and (max-width:480px){
    body {
        font: 14px "Lucida Grande", Meiryo, Helvetica, Arial, sans-serif;
        background: #e9e9e9;
        color: #5e5e5e;
        
    }
    h1{
        text-align: center;
        margin:0 auto;
        font-size:35px;
        color:#000000;
        font-family: 'Playfair Display', serif;
    }
    a {
        color: #00B7FF;
    }
    .mylogin{
        margin-top:50%;
    }
    
    .navbar-brand{
        display: inline-block;
    }
    div {
       
    }
    
    .row {
        margin-top: 40px;
        height:120px;
        margin-bottom:0;
    }
    .container{
        width:80%;
        height:auto;
        border:solid;
        border-radius: 8px;
        padding:0;
        border-color: cornflowerblue;
        background-color: ghostwhite;
    }
    
    .col-lg-3{
        margin:0;
        padding:0;
    }
    /*
     * ボタンの共通設定
     */
    .common-button {
        margin: 0%;
    }
    
    /*
     * トップ画面（index.hbs）に関する設定
     */
    .index-user_name {
        
    }
    
    .index-user_name_text {
        margin-left:auto;
        margin-right: auto;
        width: 90%;
        margin-bottom:20px;
        
    }
    
    .index-enter {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    
    .index-enter_button {
        
    }
    .box{
        margin-bottom:30px;
        margin-top:0;
    }
    /*
     * チャットルーム画面（room.hbs）に関する設定
     */
     .navbar{
         width:100%;
         height: 20%;
         position:sticky;
         top:0;
     }
    .navbar-brand{
        font-size:25px;
        color:#729aaa;
        font-family: 'Playfair Display', serif;
    }
    .navbar-text{
        font-size:20px;
        font:meiryo;
    }
    .navbar-expand-lg{
        padding:0;
    }
    .room-container{
        flex-direction:column; 
        display:flex;
    }
     .room-row{
        order:2;
        width:100%;
         margin:0;
         background-color: rgb(175, 229, 230);
         height: 33%;
        
         z-index: 100;
         
        position: fixed;
        bottom:0;
     }
     form{
         width:room-message_textarea;
     }
     .room-thread {
        width: 100%;
        background-color:white;
        min-height: 70vh;
        order:1;
        z-index:0;
    }
    #sent_message{
        display: flex;
        white-space: pre-wrap;
        margin:0 auto;
        
    }
    .all_users{
        margin-top: 150px; 
        background-color: rgb(175, 229, 230);
    }
    .all_users p{
        margin-bottom: 0px; 
        background-color:  rgb(175, 229, 230);
    }
    .room-login_user {
    
     }
    
    .room-message {
        /* width:80%;
        margin:0; */
        
    }
    
    .room-message_textarea {
        /* width: 125%; */
        width:100%;
        
    }
    
    .room-submit {
    
    }
    
    .room-publish_button {
        float: right;
        width: 50%;
        /* margin-top:5px;
        margin-bottom:5px; */
        display:inline;
    }
    .room-publish_button + *{
        /* clear: both; */
    }
    
    .room-memo_button {
        float:right;
        width: 50%;
        background-color: darkgrey;
        
    }
    .additional_button{
        float:right;
        width:25%;
        display:inline;
    }
   
    
    .room-exit {
    
    }
    
    .room-exit_button {
        
        float: left;
    }
    
    .room-reverse_order_button{
        width:25%;
        float:right;
        
    }
    .myUser{
            max-width:50%;
            position: relative;
            padding: 20px;
            border-radius: 10px;
            color: #000000;
            background-color: #62b3e9;
            margin-left: 20px;   
            margin-top:10px;
            display:table;
            
    
    }
    .myUser::before{
        content: '';
        position: absolute;
        margin-right:100%;
        width: 0;
        height: 0;
        left: -15px;
        top: 20px;
        border-right: 15px solid #62b3e9;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        clear: both;
        
      }
    .otherUser{
            max-width:50%;
            position: relative;
            padding: 20px;
            border-radius: 10px;
            color: black;
            background-color: #CCCCCC;
            margin-right: 20px; 
            display:table;      
            margin-left: auto;
            margin-top:10px;
    
    }
    .otherUser::before{
        content: '';
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        right: -15px;
        top: 20px;
        border-left: 15px solid #CCCCCC;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent; 
    }
    .memo{
        position: relative;
        padding: 20px;
        border-radius: 10px;
        color: #000000;
        background-color: #b6d1eb;
        margin-left: 20px;   
        margin-top:10px;
        display:table;
    }
    .enter_message{
        position: relative;
        padding: 20px;
        border-radius: 10px;
        color: black;
        background-color: #51e075;
        margin-left:auto;
        margin-right:auto;
        margin-top:10px; 
        display:table;      
        
    }
    .exit_message{
        position: relative;
        padding: 20px;
        border-radius: 10px;
        color: black;
        background-color: #51e075;
        margin-left:auto;
        margin-right:auto;
        margin-top:10px; 
        display:table;
    }
     
}